<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Home page">


<p class=MsoNormal align=center  ><b><span
        style='font-size:36.0pt;line-height:107%;margin-left: -25%;'>SCRUM STUDY NOTES</span></b></p><br>
<br>
<br>
<p><img src="./assets/images/Diagram.png"  ></p>

<br>


<div class=WordSection1>



    <p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>

    <p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>

    <p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>

    <p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>

    <p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>

    <p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>

    <span style='font-size:11.0pt;line-height:107%;font-family:"Calibri",sans-serif'><br
            clear=all style='page-break-before:always'>
</span>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal align=center style='text-align:center'><b><u>SCRUM</u></b></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>Definition:
Framework for production management and development. Founded on Empiricism
(experience) with an iterative/incremental approach (definition of "Done").</span></p>

    <p class=MsoNormal><b><span style='font-size:9.0pt;line-height:107%'>1.0 PILLARS</span></b></p>

    <p class=MsoNormal><b><span style='font-size:9.0pt;line-height:107%'>1.1 Transparency</span></b></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>Definition:
Use of a common language and definitions (for example, definition of "Done"). </span></p>

    <p class=MsoNormal><b><span style='font-size:9.0pt;line-height:107%'>1.2 Inspection</span></b></p>

    <p class=MsoNormal><i><span style='font-size:9.0pt;line-height:107%'>Definition</span></i><span
            style='font-size:9.0pt;line-height:107%'>: Inspection of progress and
artifacts.</span></p>

    <p class=MsoNormal><b><span style='font-size:9.0pt;line-height:107%'>1.3 Adaption</span></b></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>Definition:
Adjustments to minimize deviation.</span></p>

    <p class=MsoNormal><b><span style='font-size:9.0pt;line-height:107%'>&nbsp;</span></b></p>

    <p class=MsoNormal><b><span style='font-size:9.0pt;line-height:107%'>2.0 TEAM</span></b></p>

    <p class=MsoNormal><b><span style='font-size:9.0pt;line-height:107%'>2.1 Product
Owner</span></b></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>What does the
Product Owner do?</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>-Manages
backlog, optimizes value of Dev. Team, shows what scrum team to work on next,
Makes sure that dev. Team understands the items, 1 person, may represent
desires of a committee, Addressed regarding backlog changes, tells dev. Team to
work on different requirements (and nobody else), cancels sprints (an nobody
else).</span></p>

    <p class=MsoNormal><b><span style='font-size:9.0pt;line-height:107%'>2.2 Development
Team</span></b></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>Definition:
Self-managing, cross-functional, developers (no sub-teams) 3-9 professionals
(no master/owner) accountable for a development. </span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>- Delivers
the releasable increment of "Done" (End of Sprint), while nobody else tells how
to turn backlog into "Done".</span></p>

    <p class=MsoNormal><b><span style='font-size:9.0pt;line-height:107%'>2.3 Scrum
Master</span></b></p>

    <p class=MsoNormal><i><span style='font-size:9.0pt;line-height:107%'>Definition</span></i><span
            style='font-size:9.0pt;line-height:107%'>: Servant/Leader to a team, may work
with other scrum masters to maximize effectiveness.</span></p>

    <p class=MsoNormal><i><span style='font-size:9.0pt;line-height:107%'>What does
the Scrum Master do?</span></i></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>-Ensures that
team follows Scrum rules, maximizes team's value, understands product planning,
agility/facilitates scrum events.</span></p>

    <p class=MsoNormal><i><span style='font-size:9.0pt;line-height:107%'>Relationship
to a Product Owner:</span></i></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>-Finds
techniques for backlog management keeping it clear and concise, and arranged to
maximize value.</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>-Understanding
product planning, practices agility and Facilitates Scrum events as requested
or needed.</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>&nbsp;</span></p>

    <p class=MsoNormal><i><span style='font-size:9.0pt;line-height:107%'>Relationship
to a Development Team:</span></i></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>-helps team
understand the clarity of a backlog, helps team deliver high-value product,
helps teams adopt scrum.</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>-Coaches
self-organization and cross-functionality, removes impediments in progress,
facilitates scrum events.</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>&nbsp;</span></p>

    <p class=MsoNormal><i><span style='font-size:9.0pt;line-height:107%'>Relationship
to Organization:</span></i></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>-Coaches
scrum adoption, plans scrum implementations, helps employees to understand
scrum.</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>-Planning
Scrum implementations , causes changes that increases the productivity and
increases the effectiveness (with or without other Masters).</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>&nbsp;</span></p>

    <p class=MsoNormal><i><span style='font-size:9.0pt;line-height:107%'>Relationship
to Stake-Holders:</span></i></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>-Helps
stakeholders understand scrum.</span></p>

    <p class=MsoNormal><b><span style='font-size:9.0pt;line-height:107%'>&nbsp;</span></b></p>

    <p class=MsoNormal><b><span style='font-size:9.0pt;line-height:107%'>3.0 EVENTS
(Sprint)</span></b></p>

    <p class=MsoNormal><i><span style='font-size:9.0pt;line-height:107%'>Definition</span></i><span
            style='font-size:9.0pt;line-height:107%'>: Minimized and time-boxed meetings
designed for transparency and inspection (and adoption). Starts immediately
after a conclusion of previous Sprint. Changes that endanger the sprint goal
are not allowed, scope clarified and re-negotiated, backlog reviewed.</span></p>

    <p class=MsoNormal><i><span style='font-size:9.0pt;line-height:107%'>Duration:</span></i><span
            style='font-size:9.0pt;line-height:107%'> 1 month or less (with a releasable
"Done" increment). Can be canceled before expiry (obsolete goals).</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>Scope may be
clarified and re-negotiated between the Product Owner and Development Team .</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>Only the
Product Owner has the authority to cancel the Sprint (maybe under influence
from the stakeholders, the Development Team, or the Scrum Master).</span></p>

    <p class=MsoNormal><b><span style='font-size:9.0pt;line-height:107%'>&nbsp;</span></b></p>

    <p class=MsoNormal><b><span style='font-size:9.0pt;line-height:107%'>3.1 Sprint
Planning</span></b></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>Definition:
Answers what can be delivered at increment, and how to achieve it. After
forecasting backlog, goal is made.</span></p>

    <p class=MsoNormal><i><span style='font-size:9.0pt;line-height:107%'>Duration: </span></i><span
            style='font-size:9.0pt;line-height:107%'>8 hrs. or less, for a 1-month sprint
(less for shorter sprints).</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>What does the
Product Owner do?</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>The Product
Owner discusses the objective of Sprint and Product Backlog items to achieve
the Sprint Goal.</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>&nbsp;</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>What does the
Scrum Master do?</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>- Ensures
that the event takes place and that attendants understand its purpose, keeping
it within time-box.</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>&nbsp;</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>What does the
Development Team do?</span></p>

    <p class=MsoNormal><span class=fontstyle01><span style='font-size:9.0pt;
line-height:107%'>-Forecasts the functionality that will be developed during
the</span></span><span style='font-size:9.0pt;line-height:107%;color:black'> <span
            class=fontstyle01><span style='line-height:107%'>Sprint by assessing what it
can accomplish over the</span></span> <span class=fontstyle01><span
            style='line-height:107%'>upcoming Sprint.</span></span></span></p>

    <p class=MsoNormal><span class=fontstyle01><span style='font-size:9.0pt;
line-height:107%'>-</span></span><span style='font-size:9.0pt;line-height:107%'>D<span
            class=fontstyle01><span style='line-height:107%'>ecides how it will build this
functionality into a "Done" product Increment</span></span><span
            style='color:black'> <span class=fontstyle01><span style='line-height:107%'>during
the Sprint.</span></span></span></span></p>

    <p class=MsoNormal><span class=fontstyle01><span style='font-size:9.0pt;
line-height:107%'>-Decomposes the backlog units to 1 day or less, by
self-organizing.</span></span></p>

    <p class=MsoNormal><span class=fontstyle01><span style='font-size:9.0pt;
line-height:107%'>-Determines it has too much or too little work, and if so,
renegotiates with owner.</span></span></p>

    <p class=MsoNormal><span class=fontstyle01><span style='font-size:9.0pt;
line-height:107%'>-May explain the steps that it will take to make the next
increment ("Done").</span></span></p>

    <p class=MsoNormal><b><span style='font-size:9.0pt;line-height:107%'>&nbsp;</span></b></p>

    <p class=MsoNormal><b><span style='font-size:9.0pt;line-height:107%'>3.2 Daily
Scrum</span></b></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>Definition:
Improves communications, eliminates other meetings, identifies impediments to
development for removal, highlights and promote quick decision-making, and
improves the Development Team's level of knowledge.</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>Duration: 15
minutes.</span></p>

    <p class=MsoNormal><i><span style='font-size:9.0pt;line-height:107%'>What does
the Scrum Master do?</span></i></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>-Ensures that
the Development Team has the meeting, keeping within a time-box.</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>What does the
Development Team do?</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>-Responsible
for conducting the Daily Scrum, enforces the rule that only Development Team
participates.</span></p>

    <p class=MsoNormal><span class=fontstyle01><span style='font-size:9.0pt;
line-height:107%'>-Synchronizes</span></span><span style='font-size:9.0pt;
line-height:107%;color:black'> <span class=fontstyle01><span style='line-height:
107%'>activities and creates a plan for the next 24 hours, inspecting a
progress toward the Sprint Goal.</span></span></span></p>

    <p class=MsoNormal><b><span style='font-size:9.0pt;line-height:107%'>&nbsp;</span></b></p>

    <p class=MsoNormal><b><span style='font-size:9.0pt;line-height:107%'>3.4 Sprint
Review</span></b></p>

    <p class=MsoNormal><i><span style='font-size:9.0pt;line-height:107%'>Definition</span></i><span
            style='font-size:9.0pt;line-height:107%'>: Scrum team and stakeholders
(optional) collaborate on what was done and what to do. Is informal meeting to
gain a better insight and collaboration.</span></p>

    <p class=MsoNormal><i><span style='font-size:9.0pt;line-height:107%'>Duration</span></i><span
            style='font-size:9.0pt;line-height:107%'>: 4hrs. or less for 1-month sprint (or
shorter for shorter sprints).</span></p>

    <p class=MsoNormal><i><span style='font-size:9.0pt;line-height:107%'>What does
the Product Owner do?</span></i></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>-Can invite
key Stake-Holders (informal), Explains what was and was not done, Discusses the
current state of Product Backlog.</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>What does the
Scrum Master do?</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>-May invite
Stakeholders.</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>&nbsp;</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>What does the
Development Team do?</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>-Discusses
what went well during the Sprint, what problems it ran into, and how those problems
were solved; demonstrates the work that it has "Done" and answers questions
about the Increment;</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>&nbsp;</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>&nbsp;</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>What is the
role of Stake-Holders?</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>-Can attend,
if and only if, invited by Scrum Master.</span></p>

    <p class=MsoNormal><b><span style='font-size:9.0pt;line-height:107%'>&nbsp;</span></b></p>

    <p class=MsoNormal><b><span style='font-size:9.0pt;line-height:107%'>3.5 Sprint
Retrospective</span></b></p>

    <p class=MsoNormal><i><span style='font-size:9.0pt;line-height:107%'>Definition</span></i><span
            style='font-size:9.0pt;line-height:107%'>: Team inspects itself and plans the
next sprint.</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>Duration:
3hrs or less for a 1-month sprint (or shorter for shorter sprints).</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>What does the
Scrum Master do?</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>-Participates
as a peer team member in the meeting from the accountability over the Scrum
process.</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>&nbsp;</span></p>

    <p class=MsoNormal><b><span style='font-size:9.0pt;line-height:107%'>3.6 Goal</span></b></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>Definition:
Provides guidance, created during sprint-planning. Backlog is re-negotiated
with owner if goal doesn't work as predicted. </span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>What does the
Product Owner do?</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>-Decides
whether to release after an increment.</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>What does the
Development Team do?</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>-I<span
            class=fontstyle01><span style='line-height:107%'>mplements the functionality
and technology or renegotiates the sprint scope with owner.</span></span></span></p>

    <p class=MsoNormal><b><span style='font-size:9.0pt;line-height:107%'>&nbsp;</span></b></p>

    <p class=MsoNormal><b><span style='font-size:9.0pt;line-height:107%'>4.0 ARTIFACTS</span></b></p>

    <p class=MsoNormal><i><span style='font-size:9.0pt;line-height:107%'>Definition</span></i><span
            style='font-size:9.0pt;line-height:107%'>: work/value for inspection/adaption
(transparency).</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>&nbsp;</span></p>

    <p class=MsoNormal><i><span style='font-size:9.0pt;line-height:107%'>What does
the Product Owner do?</span></i></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>-Works with
everyone to make sure that artifacts are transparent.</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>-Chooses
whether to release after an increment.</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>&nbsp;</span></p>

    <p class=MsoNormal><i><span style='font-size:9.0pt;line-height:107%'>What does
the Scrum Master do?</span></i></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>- Works with
the Product Owner, Development Team, and other involved parties to understand
if the artifacts are transparent (<span class=fontstyle01><span
                style='line-height:107%'>learning, convincing, and change)</span></span>.</span></p>

    <p class=MsoNormal><b><span style='font-size:9.0pt;line-height:107%'>&nbsp;</span></b></p>

    <p class=MsoNormal><b><span style='font-size:9.0pt;line-height:107%'>&nbsp;</span></b></p>

    <p class=MsoNormal><b><span style='font-size:9.0pt;line-height:107%'>4.1 Product
Backlog</span></b></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>Definition: <span
            style='color:#333333;background:white'>&nbsp;ordered list of everything that is
known to be needed in the product.</span></span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>Duration:
Never complete.</span></p>

    <p class=MsoNormal><i><span style='font-size:9.0pt;line-height:107%'>What does
the Product Owner do?</span></i></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>- Owner is
responsible for the Product Backlog (content, availability, and ordering), and can
update it at any time.</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>-Refines the
backlog with Dev. Team.</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>-Monitors
progress but does not make the final (work) estimates. Assesses the progress,
making it transparent to all stakeholders.</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>&nbsp;</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>What does the
Scrum Master do?</span></p>

    <p class=MsoNormal><i><span style='font-size:9.0pt;line-height:107%'>What does
the Development Team do?</span></i></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>- Refines the
backlog with <span class=fontstyle01><span style='line-height:107%'>Product
Owner, does all work estimates and forecasts.</span></span></span></p>

    <p class=MsoNormal><span class=fontstyle01><span style='font-size:9.0pt;
line-height:107%'>-</span></span><span style='font-size:9.0pt;line-height:107%'>M<span
            class=fontstyle01><span style='line-height:107%'>odifies the Sprint Backlog
throughout the Sprint, and</span></span><span style='color:black'> <span
            class=fontstyle01><span style='line-height:107%'>the Sprint Backlog emerges
during the Sprint.</span></span></span></span></p>

    <p class=MsoNormal><b><span style='font-size:9.0pt;line-height:107%'>&nbsp;</span></b></p>

    <p class=MsoNormal><b><span style='font-size:9.0pt;line-height:107%'>4.2 Sprint
Backlog</span></b></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>Definition:
Set of product backlogs designed to convert backlog to "Done", while all units
are decomposed to 1-day tasks (or less). Too much or too little work is
re-negotiated with the product owner. Others may attend for a better insight.
After it is established, team must be able to tell owner how to accomplish the
sprint-goal.</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>&nbsp;</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>What does the
Product Owner do?</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>-The Product
Owner is the sole person responsible (accountable) for managing the Product
Backlog.</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>-May
represent the desires of a committee in the Product Backlog.</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>-Is addressed
if any change to be done to a Backlog.</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>-Express
Backlog items, Orders items to achieve goal, optimize value of development team
work, ensure transparency and understanding of items.</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>-No-one else
can tell Development Team to work on different requirements.</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>&nbsp;</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>What does the
Development Team do?</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>-Express
Backlog items, Orders items to achieve goal, optimize value of development team
work, Ensure transparency and understanding of items.</span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>-Does not act
on anyone's requirements other than the ones of the product Owner.</span></p>

    <p class=MsoNormal><span class=fontstyle01><span style='font-size:9.0pt;
line-height:107%'>-Only the Development Team can change its Sprint</span></span><span
            style='font-size:9.0pt;line-height:107%;color:black'> <span class=fontstyle01><span
            style='line-height:107%'>Backlog during a Sprint.</span></span></span></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>&nbsp;</span></p>

    <p class=MsoNormal><b><span style='font-size:9.0pt;line-height:107%'>&nbsp;</span></b></p>

    <p class=MsoNormal><b><span style='font-size:9.0pt;line-height:107%'>4.3 Increment</span></b></p>

    <p class=MsoNormal><span style='font-size:9.0pt;line-height:107%'>Definition:
Next logical step completing a definition of "Done".</span></p>

</div>



</@layout.myLayout>

