<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


<h1>Scrum Master Exam Preparation</h1>
<p>There are 3 parts:</p>
<p>1. Quick study notes taken from the Scrum Guide: <a href="https://www.scrumguides.org/docs/scrumguide/v1/scrum-guide-us.pdf">CLICK HERE</a></p>
<p>2. The questions/answers gathered from multiple online sources,</p>
<p>3. The questions (without answers) to practice and confirm the knowledge.</p>

<br>

<h2><a href="./studynotes">1. Study Notes:</a></h2>
<p>The study notes were made as the introduction to answering the questions. Idea was to learn that first, before answering.</p>
<p>Click on a title to see the study notes.</p>

<br>

<h2><a href="/practice">2. Questions/Answers:</a></h2>
<p>Idea was to save several hundreds pages of paper and create this web-page instead.</p>
<p>All questions are asked randomly, and there is no score-tracking. This is just to practice, as much as possible.</p>
<p><a href=".\assets\other\PARSED_DOCS.zip">Click here</a> should you like to download a .ZIP copy of all questions and answers, for your own reference and study.</p>
<p>Click on a title to start the practice.</p>

<br>

<h2><a href=".\assets\other\offlineTest.pdf">3. More Questions</a></h2>
<p>Idea was to continue learning, as the last step, by answering more questions and doing the research regarding the possible answers.</p>
<p><a href=".\assets\other\offlineTest.pdf">Click here</a> (or on a title) to download the questions in a PDF format to continue learning.</p>

</@layout.myLayout>

